.connection-fieldset{
  border: none;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 10%;
  padding: 8px;
  box-sizing: border-box;
}

.btn-connexion {
  background-color: #C84B36;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-creer_compte{
  background-color: #C84B36;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.btn_container{
  display: flex;
  justify-content: flex-end;
}

.page_creation{
  margin-left: 5%;
}
.page_connexion{
  margin-left: 5%;
}
.connection-form {
  max-width: 400px;
  margin: 5% auto;
}

.connection-fieldset {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
}

.elements-container {
  display: grid;
  gap: 15px;
}

.elements-container > div {
  display: flex;
  flex-direction: column;
}

.elements-container > div label {
  margin-bottom: 5px;
}

.elements-container > div input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.elements-container > div.nom,
.elements-container > div.prenom {
  flex: 1;
  margin-right: 10px;
}