footer {
  background-color: #33AE55;
  padding-top: 50px;
}

.logo_container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .logo {
    max-width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .logo_container {
    justify-content: flex-start;
    margin-left: 15%;
    padding-top: 20px;
  }
}

.liens_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 15%;
}

@media screen and (min-width: 600px) {
  .liens_container {
    position: absolute;
    margin-left: 60%;
    margin-top: 10%;
  }
}

.parent_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lien_footer {
  color: white;
  text-decoration: none;
}

.adresse_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

@media (min-width: 600px) {
  .adresse_container {
    display: inline-block;
    float: right;
    margin-right: 20px;
  }
}

.adresse_footer{
  font-weight: bold;
}

.heure-ouverture_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

@media (min-width: 600px) {
  .heure-ouverture_container {
    display: inline-block;
    float: right;
  }
}

.fondateurs_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

@media (min-width: 600px) {
  .fondateurs_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;

  }
}

@media (min-width: 600px) {
  .fondateurs {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 600px) {
  .fondateur {
    margin-right: 10px;
  }
}

.bas-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
@media (min-width: 600px) {
  .bas-page {
    margin-top: 5%;
  }
}


@media (min-width: 600px) {
  .ligne {
    margin: 0;
  }
}

@media (min-width: 600px) {
  hr {
    display: none;
  }
}

@media (max-width: 1188px) {
  .container_bas-footer{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .container_bas-footer{
    margin-top: 15%;
  }
}
@media (max-width: 1188px) {
  .adresse-heure_container{
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 600px) {
  .adresse-heure_container{
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 600px) {
  .texte_footer{
    margin: 1%;
  }
}
