

h1{
  margin-bottom: 10px;
}
@media screen and (min-width: 600px){
  .intro{
    float: right;
    width: 50%;
    text-align: left;
  }
}
h2{
  color: #C84B36;
  margin-top: 10px;
}

.auteur{
  color: #C84B36;
}

.article{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 600px){
  .article{
    float: left;
    width: 50%;
    text-align: left;
  }
}
.couvert_livre{
  max-width: 75%;
  display: flex;
  justify-content: center;
}

.btn_principal {
  background-color: #C84B36;
  color: #fff;
  padding: 15px 61px;
  border: none;
  cursor: pointer;
}
.btn_secondaire {
  background-color: #fff;
  color: #C84B36;
  padding: 15px 50px;
  border: 2px solid #C84B36;;
  cursor: pointer;
}

@media screen and (min-width: 600px){
  .description{
    float: right;
    width: 50%;
    text-align: left;
  }
}
.boutons{
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px){
  .boutons{

  }
}

.boutons button {
  margin: 5px 0;
  border-radius: 5px;
  font-size: 16px;
}

.voir_plus{
  color: #C84B36;
}

.formats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
  margin: auto;
}
.un-format{
  background-color: #C84B36;
  color: #fff;
  padding: 15px 61px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.space {
  margin-right: 20px;
}

.livre-suivant-precedent{
  display: flex;
  justify-content: center;
}

.precedent{
  color: #C84B36;
  margin-right: 5%;
}
.suivant{
  color: #C84B36;
}

@media screen and (min-width: 600px){
  .commentaires{
    width: 48%;
  }
}



