@media screen and (min-width: 600px) {
  .intro {
    float: right;
    width: 50%;
    text-align: left;
  }
}

.auteur {
  color: #C84B36;
}

.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .article {
    float: left;
    width: 50%;
    text-align: left;
  }
}

.couvert_livre {
  max-width: 75%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .couvert_livre{
    min-height: 430px;
  }
}

.btn_principal {
  background-color: #C84B36;
  color: #fff;
  padding: 15px 61px;
  border: none;
  cursor: pointer;
}

.btn_secondaire {
  background-color: #fff;
  color: #C84B36;
  padding: 15px 50px;
  border: 2px solid #C84B36;;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .description {
    display: none;
  }
}
.description-large{
  display: none;
}
@media screen and (min-width: 600px) {
  .description-large{
    display: flex;
    flex-direction: column;
  }
}

.boutons {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.boutons-large{
  display: none;
}

@media screen and (min-width: 600px) {
  .boutons {
    display: none;
  }
  .boutons-large{
    display: inline-block;
    white-space: nowrap;
    margin-left: 0%;
  }
  .boutons-large_container{
    padding-top: 2%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 1120px) {
  .boutons-large{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }
}
@media screen and (max-width: 600px) {
  .boutons-large{
    display: none;
  }
}

.boutons button {
  margin: 5px 0;
  border-radius: 5px;
  font-size: 16px;
}

.voir_plus {
  color: #C84B36;
}

.formats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
  margin: auto;
}

.un-format {
  background-color: #C84B36;
  color: #fff;
  padding: 15px 61px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.space {
  margin-right: 20px;
}

.livre-suivant-precedent {
  display: flex;
  justify-content: center;
}

.precedent {
  color: #C84B36;
  margin-right: 5%;
}

.suivant {
  color: #C84B36;
}

@media screen and (min-width: 600px) {
  .commentaires {
    width: 48%;
  }
}

.quantite{

}
.input_quantite{
  width: 10%;
  padding: 8px;
  color: #C84B36;
}
.counter {
  width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  background: #fff;
  color: #000;
  appearance: none;
  outline: 0;
}
.counter span {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  color: #ffffff;
  background: #C84B36;
  user-select: none;
  width: 20px;
}

.down{
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.up{
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}