
element {
  margin: 0px;
}

.h1_accueil {
  text-align: center;
}

.date_evenement {
  text-align: center;
}

.h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  padding: 8px;
  height: 50px;

  @media (min-width:600px){
    width:550px;
    text-align: center;
  }
}

.h2_section1 {
  /* Décoration */
  border-style: solid;
  border-radius: 0px 100px 100px 0px;
  background-color: #C84B36;

  /* Écriture */
  color: #FFFFFF;
  margin-left: -10px;
}

.h2_section2 {
  /* Décoration */
  border-style: solid;
  border-radius: 0px 100px 100px 0px;
  background-color: #C84B36;

  /* Écriture */
  text-align: center;
  color: #FFFFFF;
}

.h2_section3 {
  /* Décoration */
  border-style: solid;
  border-radius: 0px 100px 100px 0px;
  background-color: #C84B36;

  /* Écriture */
  color: #FFFFFF;
}


.itemCacheEnMobile {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;

  @media (min-width:600px) {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}


.nouveautes,
.prix_recu,
.livres_recommandes {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width:600px) {
    flex-direction: row;
  }
}

.item_li {
  text-align: left;
}

.prix {
  font-weight: bold;
}

.image_evenement {
  border-style: solid;
  border-radius: 0px 90px 0px 90px;

  @media (min-width:400px) {
    width: 1017px;
    height: 530px;
  }
}

.image_evenement_div {
  @media (min-width:600px) {
    text-align: center;
  }
}

/* Décoration | Flêches */
.flecheDroite {
  background: #C84B36;
  width: 50px;
  height: 30px;
  margin: auto;
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.flecheGauche {
  background: #C84B36;
  width: 50px;
  height: 30px;
  margin: auto;
  clip-path: polygon(100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%, 40% 0%, 40% 20%);


}

.cercleGauche1,
.cercleDroit1{
  border-style: solid;
  border-color: #C84B36;
  border-radius: 83%;
  height: 100px;
  width: 100px;
  top: -100px;
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.cercleGauche2,
.cercleDroit2{
  border-style: solid;
  border-color: #C84B36;
  border-radius: 83%;
  height: 100px;
  width: 100px;
  top: -100px;
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.cercleGauche3,
.cercleDroit3{
  border-style: solid;
  border-color: #C84B36;
  border-radius: 83%;
  height: 100px;
  width: 100px;
  top: -100px;
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}



.flecheMobile {
  display: flex;
  margin-top: -82px;
}


.flecheVisionneuse {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

@media (min-width:600px) {
  .flecheDroite {
    background: #C84B36;
    width: 50px;
    height: 30px;
    margin: auto;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  }

  .flecheGauche {
    background: #C84B36;
    width: 50px;
    height: 30px;
    margin: auto;
    clip-path: polygon(100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%, 40% 0%, 40% 20%);


  }

  .cercleGauche1,
  .cercleDroit1 {
    border-style: solid;
    border-color: #C84B36;
    border-radius: 83%;
    height: 100px;
    width: 100px;
    top: -100px;
    display: flex;
  }

}

.FlecheNonFonctionnel {
  background-color: rgb(162, 162, 162);
}

.item_image {
  width: 210px;
  height: 340px;
}

.h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.auteur,
.categorie,
.prix {
  text-align: left;
}

/*********************************************/
.header_delimitation {
  width: 100%;
  height: 210px;
  background-color: #33AE55;

  @media (min-width: 600px) {
    height: 255px;
  }
}


.menu-toggle {
  display: none;
}

.mobile-bar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 25px;
  /*BAR HOW MUCH IN RIGHT*/
  width: 100%;
  height: 65px;

}

.menu-icon {
  float: left;
  display: block;
  position: relative;
  width: 25px;
  height: 100%;
  cursor: pointer;
  transition: transform 300ms ease-in;
  /*the bar to X*/
}

.menu-icon > span {
  display: block;
  position: absolute;
  top: 55%;
  margin-top: -0.3em;
  width: 100%;
  height: 0.199em;
  border-radius: 1px;
  background-color: #FFFFFF;
  transition: transform 300ms ease-in;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  background-color: #FFFFFF;
  transition: transform 300ms ease;
}

.menu-icon > span:before {
  transform: translateY(-0.6em);
}

.menu-icon > span:after {
  transform: translateY(0.6em);
}


/*need this for bringing down the examples*/

.menu-toggle:checked + .mobile-bar .menu-icon {
  transform: rotate(45deg);
}

.menu-toggle:checked + .mobile-bar span:before,
.menu-toggle:checked + .mobile-bar span:after {
  transform: rotate(90deg);
}


/*needed*/

.menu-toggle:checked ~ .header {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.header {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  background-color: #33AE55;
  padding-right: 5.7px;
  color: #eee;
  transition: opacity 300ms ease-in, visibility 0s ease-in 300ms;

}

.header nav,
.header ul {
  height: 100%;
}

.header li {
  border-bottom: 1px solid #eee;
  color: #FFFFFF;
  /*text on navbar*/
  font-weight: 430;
  line-height: 2.4;
  /*height of the navbar*/
  font-size: 15px;
  letter-spacing: 0.2px;
  font-weight: 600;
}


.header a {
  display: block;
  padding: 25px;
  transition: background-color 300ms ease-in;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 40px;
  width: auto;
  z-index: 10;
  position: fixed;
  top: 13.45px;
  left: 0;
  padding: 0 25px;
  /*BAR HOW MUCH IN RIGHT*/
  background-color: white;
}

.test {
  top: 0;
  width: 100%;
  position: absolute;
}


@media (min-width: 1000px) {
  .mobile-bar {
    display: none;
  }
  .header {
    z-index: 5;
    position: relative;
    left: 0;
    padding-top: 0;
    height: auto;
    visibility: visible;
    opacity: 1;
    text-align: center;
    margin: auto;
    margin-top: -3px;
  }
  .header li {
    display: inline-block;
    margin-right: -6px;
    /* fix the inline-block gap */
    border: none;
    text-align: left;
  }
  .header a {
    padding: 15px 35px;
    /*header height and text spacing*/
  }

  .header li:hover {
    text-decoration: underline;
    color: #000000;
    transition: color 300ms ease-in;
  }
}

.lien {
  text-decoration: none;
}

.lien:hover,
.lien:focus,
.lien:active {
  text-decoration: none;
}

//*,
//*:before,
//*:after {
//  padding: 0;
//  margin: 0;
//  box-sizing: border-box;
//}

/*******************/


@media only screen and (max-width: 600px) {
  body[yahoo] .full_width_600 {
    width: 90% !important;
  }
}

@media only screen and (max-width: 700px) {
  body[yahoo] .full_width_700 {
    width: 100% !important;
  }
  body[yahoo] .txt_center {
    text-align: center !important;
  }
  body[yahoo] .separator {
    height: 40px !important;
  }
}



.ul {
  list-style: none;
}

.lien {
  text-decoration: none;
  color: inherit;
}

.search {
  margin-top: 150px;
  margin-left: 5px;
  width: 298px;
  height: 43px;
  border: solid;
  border-color: #C84B36;

  @media (min-width: 600px) {
    margin-top: 115px;
    margin-left: 55em;
  }
}


/************************/
.new-chat-window {
  position: relative;
  width: 200px;
  display: block;
  margin: 10px auto;
  text-align: center;
  z-index: 2;
}

.new-chat-window .fa {
  position: absolute;
  top: 7px;
  left: 10px;
  font-weight: bold;
  font-style: normal;
}

.search:focus {
  outline-color: blue;
}

.new-chat-window-input {
  border: 1px solid #ccc;
  line-height: 30px;
  padding-left: 30px;
  width: 100%;
  z-index: 1;
}

.logo {
  margin-left: 100px;
  margin-top: 18px;

  @media (min-width:600px) {
    width: 150px;
    height: 150px;

  }
}

.panier {
  width: 43px;
  height: 43px;
  color: #C84B36;
  border: solid;
  background: white;
  border-radius: 25px;
  padding: 3px;

  @media (min-width:600px) {
    margin-left: 52em;
    margin-bottom: 10px;
  }

}
