/**
* @author MJ2
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/

/**** Typographie responsive ****/

html {
  font-size: 100%;
}

body {
  font-family: $fontePrimaire;
  //font-size: 16px; /* 16px pour toutes les largeurs d'écran */
  //line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}

h1, h2, h3, p {
  font-family: $fontePrimaire;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 25px;
}

/*.texte {
  font-family: $fontePrimaire;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;

  &--desktop {
    line-height: 1.5;
  }
}*/