@charset "UTF-8";
/**
 * @author MJ2
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Normalize **/
/**** UTILITAIRES ****/
/** Variables **/
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
@font-face {
  font-family: Inter, sans-serif;
  src: url("../fonts/Inter.ttc") format("truetype");
}
/** Palette de couleurs **/
/* Couleurs de base */
/** Mixins **/
/**
* @author Ève Février - efevrier@cegep-ste-foy.qc.ca
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/******** Typographie *********/
/****** BASE ******/
/** Typographie **/
/**
* @author MJ2
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
html {
  font-size: 100%;
}

body {
  font-family: Inter, sans-serif;
}

h1, h2, h3, p {
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 25px;
}

/*.texte {
  font-family: $fontePrimaire;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;

  &--desktop {
    line-height: 1.5;
  }
}*/
/** Boutons **/
/** Input **/
/****** MODULES ******/
/** gds - Styles généraux du Guide de styles **/
/**
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
*/
.gds {
  margin: 5em auto;
  max-width: 800px;
}
.gds__titre {
  font-size: 60px;
  font-size: 6rem;
  color: black;
}
.gds__sousTitre {
  color: white;
  background-color: darkgray;
  font-size: 30px;
  font-size: 3rem;
  padding: 1rem;
  text-align: left;
}
.gds__categorie {
  border-bottom: 1px solid lightgray;
}

/** listeInteractivite - Éléments interactifs **/
/**
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
.listeInteractivite {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.listeInteractivite__item {
  flex: 1 1 100%;
}

/** Style mgraignon **/
body {
  background-color: red;
}

/** Style jcarrier **/
/** Style jsavard **/

/*# sourceMappingURL=styles.css.map */
